html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a, ol, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


input[type="submit"], input[type="radio" i], input[type="select"
 i] {
    cursor: pointer;
    outline: none;
}

input[type="submit"]:last-child {
    background-color: gold;
}

input[type="submit"]:hover {
    -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n) {
    background-color: gray;
}

h2 + .user_review {
    border-top: 1px solid black;
}

input[type="radio"] {}


nav ul li {
    display:  inline-block;
}

section {
    width: 700px;
    display: inline-block;
    vertical-align: top;
}
